[VK]
; Чтобы забрать токен VK API нужно перейти по ссылке:
; https://oauth.vk.com/authorize?client_id=51458258&redirect_uri=https://oauth.vk.com/blank.html&display=page&scope=offline,wall,photos,friends,groups&response_type=token&v=5.199
; Разрешить доступ приложению к вашему аккаунту, там кроме методов для сбора данных о пользователях ничего нет
; После чего скопировать из адресной строки текст, от vk1.a. и до & (без этого символа)
; И вставить в этот текст после строки access_token, через tab
; Если токенов больше одного, то каждый должен начинаться с новой строки
access_token=
    vk1.a.example1
    vk1.a.example2

[PROXY]
; Каждый прокси вводить с новой строки.
; Если для прокси есть логин и пароль, то писать их через символ, указанный в параметре separator
; По хорошему на каждый токен API нужен свой прокси, но это не обязательно
; use_original_address - включить ли в список прокси адрес оригинальной машины, 1 - да, 0 - нет
; Если прокси не указаны, то автоматически применяется
use_original_address = 1
separator=/
proxy=
    proxy1/login/password
    proxy2